.form {
  text-align: center;
}
.details {
  background-color: transparent;
  border: 1px solid #8a2b06;
}
.add {
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
}
.form button {
  margin: 0.5rem;
  font: inherit;
  cursor: pointer;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
